@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: 'futur';
  src: url("../fonts/futur.ttf");
  src: local("☺"), url("../fonts/futur.ttf") format("woff"), url("../fonts/GALACTIC VANGUARDIAN NCV.ttf") format("truetype"), url("../fonts/futur.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 14px;
  color: #ccc;
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  width: 100%;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

a, a:hover {
  text-decoration: none !important;
}

ul {
  margin: 0;
}

li, ol {
  list-style: none;
}

header {
  width: 100%;
  z-index: 99;
}

header .header_mid {
  background: #09445a;
  padding: 10px 0;
}

header .header_rihgt {
  text-align: right;
  width: 196px;
  display: inline-block;
}

header .header_rihgt ul li {
  display: inline-block;
}

header .header_rihgt ul li a {
  font-size: 16px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  position: relative;
  background: #f1790e;
  color: #fff;
  padding: 0 30px;
}

header .header_rihgt ul li a:hover {
  background: #fff;
  color: #f1790e;
}

header .menu-part {
  width: calc(100% - 200px);
  display: inline-block;
  padding-top: 10px;
}

header .menu-part ul {
  text-align: right;
}

header .menu-part ul li {
  display: inline-block;
}

header .menu-part ul li a {
  color: #fff;
  font-size: 16px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  padding: 0 20px;
  display: block;
}

header .menu-part ul li a:hover {
  color: #f1790e;
}

.main_slider {
  position: relative;
  overflow: hidden;
}

.main_slider .owl-dot {
  width: 50px;
  height: 2px;
  display: inline-block;
  background: #fff !important;
  margin: 0 25px 0 0;
}

.main_slider .owl-dot.active {
  background: #f1790e !important;
}

.main_slider .owl-dots {
  max-width: 1125px;
  margin: -60px auto 40px;
  position: relative;
}

.main_slider .slide_pic {
  text-align: right;
  padding-top: 40px;
}

.main_slider .slide_pic img {
  width: auto !important;
  display: inline-block !important;
}

.main_slider .owl-nav {
  display: none;
}

.banner {
  position: relative;
}

.banner .bantext {
  padding-top: 130px;
}

.banner .bantext h1 {
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  line-height: 60px;
  margin: 0 0 15px;
}

.banner .bantext p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.banner .bantext a.read {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 22px;
  line-height: 60px;
  border-radius: 2px;
  background-color: #f1790e;
  display: inline-block;
  margin-top: 20px;
}

.banner .bantext a.read:hover {
  background: #000;
}

.banner .bantext a.b_cont_but {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 22px;
  line-height: 58px;
  border-radius: 2px;
  border: solid 1px #fff;
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}

.banner .bantext a.b_cont_but:hover {
  color: #f1790e;
  border: solid 1px #f1790e;
}

.title {
  text-align: center;
  width: 100%;
  padding-bottom: 35px;
}

.title h3 {
  font-size: 16px;
  font-weight: 300;
  color: #949494;
  margin: 0 0 8px;
}

.title h2 {
  color: #09445a;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.title p {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin: 20px 0 0;
}

.service_area {
  padding: 60px 0;
}

.service_area .serv_area_con {
  position: relative;
}

.service_area .serv_area_con h5 {
  position: absolute;
  top: 383px;
  left: -615px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #000000;
  opacity: 0.2;
  font-size: 117px;
  font-weight: 800;
  text-transform: uppercase;
}

.service_area img {
  width: 100%;
}

.service_area .serv_info {
  padding: 20px 10px 10px 20px;
}

.service_area h4 {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px;
}

.service_area p {
  color: #666666;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0 0 15px;
}

.service_area a {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}

.service_area a i {
  color: #f1790e;
  margin-left: 10px;
}

.service_area a:hover {
  color: #f1790e;
}

.community_area {
  padding: 60px 0;
}

.community_area .community_con {
  text-align: center;
  width: 100%;
  padding: 0 20%;
}

.community_area h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin: 0 0 15px;
}

.community_area p {
  color: #ffffff;
  font-size: 16px;
  margin: 0 0 20px;
}

.community_area a {
  font-size: 16px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  background: #f1790e;
  color: #fff;
  padding: 0 30px;
  margin: 0 auto;
}

.community_area a:hover {
  color: #f1790e;
  background: #fff;
}

.community_area input:not([type=submit]) {
  width: 100%;
  border: solid 1px #fff;
  font-size: 16px;
  height: 60px;
  padding: 10px;
  text-align: center;
  color: #fff;
  background: none;
  margin-bottom: 20px;
}

.community_area input:not([type=submit])::-webkit-input-placeholder {
  color: #fff;
}

.community_area input:not([type=submit]):-ms-input-placeholder {
  color: #fff;
}

.community_area input:not([type=submit])::-ms-input-placeholder {
  color: #fff;
}

.community_area input:not([type=submit])::placeholder {
  color: #fff;
}

.community_area input[type=submit] {
  font-size: 16px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  background: #f1790e;
  color: #fff;
  padding: 0 30px;
  margin: 0 auto;
  border: none;
}

.community_area input[type=submit]:hover {
  color: #f1790e;
  background: #fff;
}

.about_area {
  padding: 60px 0;
  font-size: 0;
}

.about_area p {
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 20px;
}

.about_area ul {
  margin-bottom: 20px;
  margin-left: 20px;
}

.about_area ul li {
  list-style: disc;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
}

.about_area a {
  color: #fff;
  background: #09445a;
  height: 60px;
  line-height: 60px;
  padding: 0 25px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}

.about_area a:hover {
  background: #000;
}

.about_area img.abt_pic1 {
  width: 47%;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top;
}

.about_area img.abt_pic2 {
  width: 47%;
  margin-left: 3%;
  margin-top: 40px;
  display: inline-block;
}

.about_area .abt_area_con {
  position: relative;
}

.about_area .abt_area_con h5 {
  position: absolute;
  top: 396px;
  left: -620px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #000000;
  opacity: 0.2;
  font-size: 114px;
  font-weight: 800;
  text-transform: uppercase;
}

.work_area {
  padding: 60px 0;
  text-align: center;
  /* Style the buttons inside the tab */
  /* Change background color of buttons on hover */
  /* Create an active/current tablink class */
  /* Style the tab content */
  /* Fade in tabs */
}

.work_area .tab {
  overflow: hidden;
  font-size: 0;
  width: 100%;
}

.work_area .tab button {
  background: #eeeff1;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.work_area .tab button:hover {
  background: #f1790e;
  color: #fff;
}

.work_area .tab button.active {
  background: #f1790e;
  color: #fff;
}

.work_area .tabcontent {
  display: none;
  padding: 40px 0 0;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  width: 100%;
}

.work_area .tabcontent .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.testi_area {
  padding: 60px 0;
  text-align: center;
}

.testi_area .testi_pic img {
  display: none !important;
}

.testi_area .med_slider_img {
  width: 100%;
  padding: 0 10%;
}

.testi_area .owl-thumb-item {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px;
  border: solid 5px transparent;
  background: none;
}

.testi_area .owl-thumb-item img {
  width: 100%;
}

.testi_area .owl-thumb-item.active {
  border: solid 5px #f1790e;
}

.testi_area .owl-thumb-item:focus {
  outline: none;
}

.testi_area .owl-thumbs {
  width: 360px;
  margin: 0 auto;
}

.testi_area .owl-nav {
  position: relative;
}

.testi_area .owl-nav .owl-prev {
  position: absolute;
  top: 50px;
  left: 230px;
  font-size: 30px !important;
}

.testi_area .owl-nav .owl-next {
  position: absolute;
  top: 50px;
  right: 230px;
  font-size: 30px;
  font-size: 30px !important;
}

.testi_area .owl-nav button:focus {
  outline: none;
}

.testi_area img {
  width: auto !important;
}

.testi_area p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  line-height: 50px;
}

.testi_area p img.inv2 {
  display: inline-block;
  margin-left: 70px;
}

.testi_area h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin: 30px 0 5px;
}

.testi_area h6 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 30px;
}

.prod_area {
  padding: 60px 0;
  /* Style the buttons inside the tab */
  /* Change background color of buttons on hover */
  /* Create an active/current tablink class */
  /* Style the tab content */
  /* Fade in tabs */
}

.prod_area .tab {
  overflow: hidden;
  font-size: 0;
  width: 100%;
  text-align: center;
}

.prod_area .tab button {
  background: none;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  border: solid 1px #f1790e;
}

.prod_area .tab button:hover {
  background: #f1790e;
  color: #fff;
}

.prod_area .tab button.active {
  background: #f1790e;
  color: #fff;
}

.prod_area .tabcontent2 {
  display: none;
  padding: 40px 0 0;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  width: 100%;
}

.prod_area .tabcontent2 .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prod_area .tabcontent2 img {
  width: 100%;
}

.prod_area .tabcontent2 h2 {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  width: calc(100% - 100px);
  display: inline-block;
  margin: 15px 0 15px;
}

.prod_area .tabcontent2 ul {
  text-align: right;
  width: 96px;
  display: inline-block;
}

.prod_area .tabcontent2 ul li {
  display: inline-block;
}

.prod_area .tabcontent2 ul li i {
  color: #f1790e;
  font-size: 14px;
}

.prod_area .tabcontent2 p {
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.prod_area .tabcontent2 a {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 30px;
}

.prod_area .tabcontent2 a i {
  margin-left: 10px;
  color: #f1790e;
}

.prod_area .tabcontent2 a:hover {
  color: #f1790e;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.prod_area .prod_view_but {
  padding-top: 30px;
}

.prod_area .prod_view_but a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  background: #f1790e;
  padding: 0 100px;
  display: inline-block;
  text-transform: uppercase;
}

.prod_area .prod_view_but a:hover {
  background: #000;
}

.prod_area .prod_pegi {
  padding-top: 40px;
}

.prod_area .prod_pegi ul {
  text-align: center;
  width: 100%;
}

.prod_area .prod_pegi ul li {
  display: inline-block;
  margin: 0 3px;
}

.prod_area .prod_pegi ul li span {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  background: #f1790e;
  display: block;
  padding: 0 14px;
}

.prod_area .prod_pegi ul li a {
  color: #222222;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  background: #f5f5f5;
  display: block;
  padding: 0 14px;
}

.prod_area .prod_pegi ul li a:hover {
  color: #fff;
  background: #f1790e;
}

.our_blog {
  padding: 60px 0;
}

.our_blog .h_blog_con img {
  width: 100%;
}

.our_blog .h_blog_con h4 {
  color: #09445a;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 15px;
}

.our_blog .h_blog_con p {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.our_blog .h_blog_con h5 {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  margin: 25px 0 0;
}

.inner_ban .inner_ban_con {
  padding: 120px 0;
  background: #09445ac2;
  text-align: center;
}

.inner_ban .inner_ban_con h2 {
  color: #f1790e;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 3.2px;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.inner_ban .inner_ban_con ul {
  display: block;
  margin: 0 auto;
}

.inner_ban .inner_ban_con ul li {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.inner_ban .inner_ban_con ul li a {
  color: #ffffff;
}

.inner_ban .inner_ban_con ul li span {
  margin: 0 10px;
}

.blog_list_area {
  padding: 60px 0;
}

.blog_list_area .blog_list_con {
  margin-bottom: 30px;
}

.blog_list_area .blog_list_con img {
  width: 100%;
}

.blog_list_area .blog_list_con h4 {
  color: #09445a;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 15px;
}

.blog_list_area .blog_list_con p {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.blog_list_area .blog_list_con h5 {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  margin: 25px 0 0;
}

.blog_list_area .blog_inner_sidebar {
  padding-left: 30px;
}

.blog_list_area .blog_inner_sidebar .blog_right_search {
  position: relative;
}

.blog_list_area .blog_inner_sidebar .blog_right_search input:not([type=submit]) {
  width: 100%;
  height: 55px;
  border: solid 1px #222;
  padding: 10px 50px 10px 30px;
  background: #fff;
  font-size: 14px;
}

.blog_list_area .blog_inner_sidebar .blog_right_search input[type=submit] {
  background: url(../images/blog_search_icon.png);
  position: absolute;
  right: 15px;
  top: 18px;
  width: 19px;
  height: 20px;
  border: none;
}

.blog_list_area .blog_inner_sidebar h3 {
  color: #fff;
  background: #09445a;
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  line-height: 30px;
}

.blog_list_area .blog_inner_sidebar p {
  padding: 0 20px;
  color: #000;
  font-size: 15px;
  line-height: 30px;
}

.blog_list_area .blog_inner_sidebar .other_info {
  padding: 10px 0;
  min-height: 123px;
}

.blog_list_area .blog_inner_sidebar .other_info img {
  width: 100px;
  float: left;
  margin: 0 10px 2px 0;
}

.blog_list_area .blog_inner_sidebar .other_info h4 {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 24px;
  font-weight: 600;
}

.blog_list_area .blog_inner_sidebar .other_info h5 {
  color: #222222;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.6px;
  line-height: 32px;
  margin: 0;
}

.blog_list_area .blog_inner_sidebar .achive_link {
  background: #fff;
  margin-top: 30px;
}

.blog_list_area .blog_inner_sidebar ul.service_link {
  padding: 10px 0 0px;
}

.blog_list_area .blog_inner_sidebar ul.service_link li {
  list-style: none;
  display: block;
}

.blog_list_area .blog_inner_sidebar ul.service_link li a {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  display: inline-block;
}

.blog_list_area .blog_inner_sidebar ul.service_link li a:hover {
  color: #666;
}

.blog_list_area .blog_details h5 {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  line-height: 32px;
  margin: 15px 0 0;
}

.blog_list_area .blog_details h2 {
  color: #09445a;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 15px;
}

.blog_list_area .blog_details p {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 20px;
}

.blog_list_area .blog_details h4 {
  color: #09445a;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 10px;
}

.blog_list_area .blog_details ul.social li {
  display: inline-block;
  margin-right: 10px;
}

.blog_list_area .blog_details ul.social li a {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
}

.blog_list_area .blog_details ul.social li a i {
  margin-right: 10px;
  color: #f1790e;
}

.blog_list_area .related_blog {
  padding-top: 40px;
}

.blog_list_area .bl_pegi {
  padding-top: 40px;
}

.blog_list_area .bl_pegi ul {
  text-align: center;
  width: 100%;
}

.blog_list_area .bl_pegi ul li {
  display: inline-block;
  margin: 0 3px;
}

.blog_list_area .bl_pegi ul li span {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  background: #f1790e;
  display: block;
  padding: 0 14px;
}

.blog_list_area .bl_pegi ul li a {
  color: #222222;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  background: #f5f5f5;
  display: block;
  padding: 0 14px;
}

.blog_list_area .bl_pegi ul li a:hover {
  color: #fff;
  background: #f1790e;
}

.contact_area {
  padding: 60px 0 0;
}

.contact_area form .con_box_con {
  position: relative;
}

.contact_area form .con_box_con i {
  position: absolute;
  font-size: 16px;
  top: 20px;
  right: 30px;
  color: #000;
}

.contact_area form input:not([type=submit]), .contact_area form textarea, .contact_area form select {
  width: 100%;
  height: 55px;
  padding: 10px 40px 10px 10px;
  background: #eee;
  border: none;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

.contact_area form textarea {
  height: 140px;
}

.contact_area form input[type=submit] {
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 55px;
  line-height: 55px;
  padding: 0 30px;
  background: #f1790e;
}

.contact_area form input[type=submit]:hover {
  background: #000;
}

.contact_area .location_con {
  padding: 80px 0 0;
  margin-bottom: -80px;
  width: 100%;
  position: relative;
  z-index: 99;
}

.contact_area .location_con .loc_box {
  background: #ececec;
  padding: 0 40px 40px;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 0 0 12px -8px #000;
          box-shadow: 0 0 12px -8px #000;
}

.contact_area .location_con .loc_box i {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  color: #fff;
  background: #f1790e;
  position: absolute;
  left: 50%;
  top: -30px;
  -webkit-transform: translateX(-50%) translateY(0%);
          transform: translateX(-50%) translateY(0%);
}

.contact_area .location_con .loc_box h2 {
  font-size: 24px;
  font-weight: 600;
  padding: 70px 0 20px;
  color: #000;
  margin: 0;
}

.contact_area .location_con .loc_box p {
  font-size: 16px;
  color: #333;
  line-height: 30px;
  margin: 0;
}

.about_main_area {
  padding: 60px 0 140px;
}

.about_main_area .abt_left {
  position: relative;
}

.about_main_area .abt_left img {
  width: 100%;
}

.about_main_area .abt_left h2 {
  position: absolute;
  top: 280px;
  left: -404px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0.3;
  font-size: 120px;
  font-weight: 800;
  text-transform: uppercase;
  width: 700px;
}

.about_main_area .abt_left .abt_left_over {
  position: absolute;
  bottom: -60px;
  right: 0;
  background: #fff;
  padding: 25px 10px;
  text-align: center;
  width: 70%;
  -webkit-box-shadow: 0 0 17px -10px #000;
          box-shadow: 0 0 17px -10px #000;
}

.about_main_area .abt_left .abt_left_over h3 {
  color: #000000;
  font-family: "Times New Roman";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.about_main_area .abt_right {
  /* Style the buttons inside the tab */
  /* Change background color of buttons on hover */
  /* Create an active/current tablink class */
  /* Style the tab content */
  /* Fade in tabs */
}

.about_main_area .abt_right h4 {
  font-size: 16px;
  font-weight: 300;
  color: #949494;
  margin: 0 0 8px;
}

.about_main_area .abt_right h2 {
  color: #09445a;
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 20px;
}

.about_main_area .abt_right p {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.about_main_area .abt_right .tab {
  overflow: hidden;
  font-size: 0;
  width: 100%;
  border-bottom: solid 1px #d0cece;
  margin-top: 25px;
}

.about_main_area .abt_right .tab button {
  background: inherit;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 35px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.about_main_area .abt_right .tab button:hover {
  color: #09445a;
  border-bottom: solid 2px #09445a;
}

.about_main_area .abt_right .tab button.active {
  color: #09445a;
  border-bottom: solid 2px #09445a;
}

.about_main_area .abt_right .tabcontent {
  display: none;
  padding: 20px 0 0;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  width: 100%;
}

.about_main_area .abt_right .tabcontent p {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.about_main_area .abt_right .tabcontent ul li {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

.about_main_area .abt_right .tabcontent ul li img {
  position: absolute;
  top: 7px;
  left: 0;
  width: 16px;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.service_count_area {
  padding: 20px 0 70px;
}

.service_count_area .serv_cont_info {
  padding: 0 40px;
  text-align: center;
  border-right: solid 1px #ccc;
}

.service_count_area .serv_cont_info h2 {
  margin: 5px 0;
  font-size: 40px;
  font-weight: 700;
  color: #000;
}

.service_count_area .serv_cont_info h4 {
  color: #666;
  font-size: 16px;
  margin: 0;
  font-weight: 300;
}

.service_count_area .serv_cont_info:last-child {
  border: none;
}

.latest_project_area {
  padding: 60px 0;
}

.latest_project_area .item {
  margin: 0 15px;
}

.latest_project_area .owl-prev {
  width: 40px;
  height: 40px;
  background: #dfe0df !important;
  color: #fff !important;
  font-size: 24px !important;
  border-radius: 50%;
  position: absolute;
  top: 43%;
  left: -45px;
}

.latest_project_area .owl-next {
  width: 40px;
  height: 40px;
  background: #dfe0df !important;
  color: #fff !important;
  font-size: 24px !important;
  border-radius: 50%;
  position: absolute;
  top: 43%;
  right: -45px;
}

.menu-part ul ul.sub-menu {
  position: absolute;
  top: 180px;
  background: #caa03c;
  margin: 0;
  width: 200px;
  padding: 10px;
  text-align: left;
  z-index: 1000;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

header .menu-part ul ul.sub-menu li {
  display: block;
}

header .menu-part ul ul.sub-menu li a {
  text-transform: capitalize;
  display: block;
  color: #000;
  background: none;
  font-size: 14px;
  padding: 8px 0;
}

header .menu-part ul ul.sub-menu li a:hover {
  padding-left: 5px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

header .menu-part ul ul.sub-menu li .double_menu {
  padding: 0 20px 15px;
  width: 50%;
  float: left;
}

header .menu-part ul ul.sub-menu:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  content: "";
  z-index: -1;
}

header .menu-part ul ul.sub-menu:before ul.sub-menu:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  outline: 1px solid #555555;
  outline-offset: -10px;
  content: "";
  z-index: -1;
}

header .menu-part ul ul.sub-menu li ul.sub-menu {
  position: absolute;
  background: #141414;
  margin: 0;
  width: 200px;
  padding: 2px;
  text-align: left;
  top: -4%;
  left: 100%;
  z-index: 1000;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

header .menu-part ul ul.sub-menu li ul.sub-menu li {
  display: block;
}

header .menu-part ul ul.sub-menu li ul.sub-menu li a {
  display: block;
  background: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding: 11px 14px;
  font-size: 11px;
}

header .menu-part ul ul.sub-menu li ul.sub-menu li a:hover {
  background-color: #5caadf;
  color: #ffffff;
}

header .menu-part ul li:hover ul.sub-menu {
  display: block;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header .menu-part ul li ul.sub-menu li:hover ul.sub-menu {
  display: block;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header .menu-part ul ul.sub-menu li:last-child {
  border: none;
}

.main-slider {
  width: 100%;
}

.main-slider .owl-item {
  padding: 0;
  position: relative;
  opacity: .5;
}

.main-slider .owl-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main-slider .center {
  opacity: 1;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 9999;
}

.main-slider .owl-controls .owl-nav {
  width: 100%;
  top: 0;
  bottom: 0;
}

.main-slider .owl-controls .owl-nav .prev {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slider .owl-controls .owl-nav .next {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slider .owl-thumbs {
  text-align: right;
  width: 100%;
  position: absolute;
  bottom: 30px;
  right: 0;
  padding-right: 8%;
}

.main-slider .owl-thumb-item {
  width: 68px;
  border: none;
  background: none;
  padding: 0;
  opacity: .7;
  overflow: hidden;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 5px;
  border: solid 6px #00000085;
}

.main-slider .owl-thumb-item img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.main-slider .owl-thumb-item.active {
  opacity: 1;
}

.main-slider .owl-thumb-item.active img {
  position: relative;
  height: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
}

footer {
  background-color: #09445a;
  padding: 60px 0 0;
}

footer .foot_info {
  padding-bottom: 50px;
}

footer img {
  margin-bottom: 30px;
}

footer h2 {
  color: #f1790e;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 20px;
}

footer p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  padding-right: 20%;
}

footer ul.social {
  padding-top: 25px;
}

footer ul.social li {
  display: inline-block;
  margin-right: 10px;
}

footer ul.social li a {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #ffffff;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f1790e;
}

footer ul.social li a:hover {
  background: #f1790e;
  color: #fff;
}

footer ul.foot_menu li {
  margin-bottom: 20px;
}

footer ul.foot_menu li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

footer ul.foot_menu li a:hover {
  color: #f1790e;
}

footer ul.add_con li {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  position: relative;
  padding-left: 30px;
}

footer ul.add_con li i {
  position: absolute;
  top: 7px;
  left: 0;
  color: #f1790e;
}

footer .foot_bottom {
  background: #f1790e;
  padding: 15px 0;
  text-align: center;
}

footer .foot_bottom h5 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999999;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-dialog .modal-content {
  background: #fff;
  border: solid 3px #f1790e;
  padding: 5px;
  padding: 30px;
  border-radius: 10px;
}

.modal-dialog .modal-content .modal-header {
  padding: 0 0 30px;
  border: none;
  text-align: center;
  color: #000;
}

.modal-dialog .modal-content .modal-header .close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal-dialog .modal-content .modal-header .close:focus {
  outline: none;
}

.modal-dialog .modal-content .modal-body {
  padding: 0;
  width: 100%;
}

.modal-dialog .modal-content .modal-body input:not([type=submit]) {
  width: 100%;
  border: solid 1px #999;
  height: 50px;
  padding: 10px;
  color: #000;
  border-radius: 5px;
  margin-bottom: 20px;
}

.modal-dialog .modal-content .modal-body input:not([type=submit])::-webkit-input-placeholder {
  color: #666;
}

.modal-dialog .modal-content .modal-body input:not([type=submit]):-ms-input-placeholder {
  color: #666;
}

.modal-dialog .modal-content .modal-body input:not([type=submit])::-ms-input-placeholder {
  color: #666;
}

.modal-dialog .modal-content .modal-body input:not([type=submit])::placeholder {
  color: #666;
}

.modal-dialog .modal-content .modal-body input[type=submit] {
  height: 50px;
  line-height: 50px;
  border: none;
  padding: 0 30px;
  color: #fff;
  background: #f1790e;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
}

.modal-dialog .modal-content .modal-body input[type=submit]:hover {
  background: #000;
}
/*# sourceMappingURL=style.css.map */